p {
    color: red;
}

img {
        display: block;
    margin: auto;
}

a {
    color:red;
    font-size:20px;
}

/* div {
    height:25px;
    width:125px;
    border:2px solid red;
    border-radius:10px;
    background-color:black;
    margin: auto;
    text-align: center; */
}

.basictab{
padding: 3px 0;
font: italic 12px Serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
top: 30px
}

.basictab li{
display: block;
padding: 8px;
height: 30px
}

.basictab li a{
text-decoration: none;
margin-right: 3px;
border-bottom: none;
color: red;
}

.basictab li a:hover{
background-color: red;
color: black;
}

.basictab li a:active{
color: black;
}

.header {
    font-family: serif;
    color:white;
    position: inherit;
    top:630px;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    margin: auto;
    display: block;
}

.maintext {
    font-family: serif;
    color:white;
    top:690px;
    font-size: 1.3em;   
    text-align: left; 
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
}