body {
    background-color: black;
}

img {
    display: block;
    margin: auto;
    border:none; /* Mention this to Jon! */
}

a {
    color:red;
    font-size:20px;
}

a:hover{
    background-color: red;
    color: white;
    font-style: italic;
} 

#header {
    height: 612px;
    background: url(imgs/logo.jpg) no-repeat center top;
}

.testimoan {
    font-family: cursive;
    color:white;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    padding: 0 20% 10px 20%;
    margin: 0;
}

.topline {
    margin-right: 20%;
    margin-left: 20%;   
    border-bottom: 1px solid white;

}

#main {
    position: relative;
    overflow: hidden;
}

#main:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    border-right: 1px solid #fff;
}

#main:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    border-right: 1px solid #fff;
}

#nav, #social {
    float:left;
    width: 20%;
    border-color: black;
}

.maincontent {
    float: left;
    font-family: serif;
    color:white;
    font-size: 1.2em;
    text-align: center;
    width: 60%;
    a hover
}

h2 {
    text-decoration: underline;
    margin-bottom: 0;
}

#footer {
    margin-left: 20%;
    margin-right: 20%;
    border-top: white solid 1px;
    padding: 10px;

}

.basictab{
    padding: 3px 0;
    font: italic 12px cursive;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
    top: 30px
}

.basictab li{
    margin-left: 20%;
    display: block;
    padding: 8px;
    height: 80px
}

.basictab li a{
    text-decoration: none;
    border-bottom: solid 1px white;
    color: red;
}

.basictab li a:hover{
    background-color: red;
    color: black;
}

.basictab li a:active{
    color: black;
}

