body {
    background-color: black;
}

img {
        display: block;
    margin: auto;
}

a {
    color:red;
    font-size:20px;
}

#header {
    height: 612px;
    background: url(imgs/logo.jpg) no-repeat center top;
}

.testimoan {
    font-family: cursive;
    color:white;
    position: relative;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    margin: auto;
}

#nav {
    float:left;
}


#maincontent {
    font-family: serif;
    color:white;
    font-size: 1.3em;
    float: left;
}
  
.maintext {
    position: inherit;
    margin-left: 50px;

}
#social {
    float: left;
    color: yellow;
    margin-left: 100px;
}

#footer {

}

.basictab{
padding: 3px 0;
font: italic 12px cursive;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
top: 30px
}

.basictab li{
display: block;
padding: 8px;
height: 30px
}

.basictab li a{
text-decoration: none;
margin-right: 300px;
border-bottom: none;
color: red;
}

.basictab li a:hover{
background-color: red;
color: black;
}

.basictab li a:active{
color: black;
}
