body {
    background-color: black;
}

img {
    display: block;
    margin: auto;
}

a {
    color:red;
    font-size:20px;
}

#header {
    height: 612px;
    background: url(imgs/logo.jpg) no-repeat center top;
}

.testimoan {
    font-family: cursive;
    color:white;
    position: relative;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    margin: auto;
}

#nav {
    float:left;
}

#maincontent {
    font-family: cursive;
    color:white;
    position: relative;
    font-size: 1em;
    text-align: center;
    margin-right: 380px;
    margin-left: 200px;
}

#social {
    float: left;
    position: absolute;
    margin-left: 90%;
    margin-right: 20%;
    top: 700px;
}

#footer {

}

.topline {
    width: 100%;
    position: absolute;
}

/*#vertical
{
 height: 100%;
 border-left: 1px solid white;
 top: 600px;
 margin-left: 250px;
 position: absolute;
} 

#verticalright
{
 height: 100%;
 border-left: 1px solid white;
 position: absolute;
 top: 600px;
 right: 250px;
} */

.basictab{
padding: 3px 0;
font: italic 12px cursive;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
top: 30px
}

.basictab li{
margin-left: 20%;
display: block;
padding: 8px;
height: 30px
}

.basictab li a{
text-decoration: none;
border-bottom: none;
color: red;
}

.basictab li a:hover{
background-color: red;
color: black;
}

.basictab li a:active{
color: black;
}
